
.Mypanel{
    background: #1f4f1f;
    color: white;
    border-color: #1f4f1f;

    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align:center; 
}

.myLogo{
    width:60px;
    height:88px;
}

.myBody{
    border-color: #1f4f1f;
    margin-top:10%;
}

.mainImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5%;
}

.signIn-button{
    color: white;    
    margin-left: 40%;
    background: #1f4f1f;
    
}

.signIn-container{
    padding-top: 30px:
}
.my-nav{
    padding-top: 30px;
}

.mainBody{

}